@layer theme, base, components, utilities;
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */
@theme {
  --color-magenta: #ed8796;
  --color-dawn: #f5a97f;
  --color-skin: #eed49e;
  --color-emerald: #a6da95;
  --color-sky: #7dc4e4;
  --color-fuchsia: #c69ff5;
  --color-midnight: #24273a;
  --color-salt: #fff;

  --spacing: 0.25rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --radius-md: 0.375rem;
}
